@import "../../assets/less/_variables.less";


.no-orders {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2{
		margin-top: 10px;
		margin-bottom: 0;
	}
}

.ScrollbarsCustom {
	&.luqidation-scroll{
		height: calc(100vh - 322px) !important;
		@media screen and (max-width:1440px) {
			height: calc(100vh - 300px) !important;
		}
		@media screen and (max-width:1366px) {
            height: calc(100vh - 280px) !important;
        }
		.no-orders{
			height: calc(100vh - 380px) !important;
			@media screen and (max-width:1440px) {
				height: calc(100vh - 360px) !important;
			}
			@media screen and (max-width:1366px) {
				height: calc(100vh - 340px) !important;
			}
		}
	}
}