@import "../../assets/less/variables.less";

.top-bar{
    background: @secondary-color;
    color: @white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    .logo{
        font-size: 26px;
    }
    .top-bar-right{
        font-size: 26px;
    }
}