@white: #ffffff;
@black: #000000;

@primary-color: #233039; // primary color for all components
@secondary-color: #151517; 
@success-color: #49C574;
@warning-color: #7A5E34; // warning state color
@red-color: #BF0000; // error state color
@grey-color: #C4C4C4;

@sidebar-bg: #151517;
@tab-bg: #F8A6A6;
@silver-bg: #FAFAFA;
@card-bg: #FFF2F2;
@light-bg: #FBFBFB;
@tooltip-icon: #8C8C8C;
@menu-active: #233039;

@font-family: 'Inter', sans-serif;
@font-family-secondary: 'Ubuntu', sans-serif;
@font-size-base: 14px;
@font-size-xlg: @font-size-base + 4px; //18px
@font-size-lg: @font-size-base + 2px; //16px
@font-size-sm: @font-size-base - 2px; //12px

@text-color-primary: #FFFFFF; // major text color
@text-color-secondary: #B3B3B3; // secondary text color
@text-white: #ffffff; // white text color
@link-color: @primary-color; // link color
@disabled-color: rgba(0, 0, 0, 0.1); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #404040; // major border color
@border-color-light: #151517;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

@tab-gradient: linear-gradient(180deg, #97D10A -8.65%, #206300 100%);
@card-gradient: linear-gradient(180deg, #272F28 0%, #121F18 100%);