@import "./_variables.less";

html,
body {
	min-height: 100vh;
	font-family: @font-family;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	font-feature-settings: normal !important;
	font-variant: normal !important;
	font-size: @font-size-base + 2;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	background: @secondary-color;
	color: @text-white;
}
main {
	position: relative;
}
a {
	text-decoration: none;
}
.icon {
	width: 16px;
	height: auto;
	fill: #000;
	transition: fill 0.3s;
	&.icon-white {
		fill: #fff;
	}
}

#root {
	overflow-x: hidden;
}

.anchor-tag {
	cursor: pointer;
}

h1 {
	color: @text-color-primary;
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	color: @text-color-primary;
	font-weight: bold;
}

h3 {
	color: @text-color-primary;
	font-weight: 600;
}

h4 {
	color: @text-color-primary;
}

p {
	font-size: @font-size-base + 2;
	color: @subtext-color;
}

b {
  color: @text-color-primary;
}

.ant-btn{
  &.ant-btn-primary{
    background: @primary-color;
    border: 1px solid @border-color-base;
    color: @black;
    border-radius: 4px;
  }
  &.ant-btn-secondary{
    background: @btn-gradient;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: @secondary-color;
    font-weight: bold;
    &.ant-btn-lg{
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
    }
  }
}

.ant-radio-wrapper {
	font-size: 13px;
	font-weight: normal;
  color: @text-white;
	.ant-radio {
		.ant-radio-inner {
			border-color: @border-dark-green;
			background-color: @border-dark-green;
		}
		&.ant-radio-checked {
			.ant-radio-inner {
				&::after {
					background: @success-color;
				}
			}
		}
	}
}

.ant-input{
  height: 40px;
  line-height: 40px;
  background-color: @select-bg-secondary;
  color: @text-white;
  border: 1px solid @border-dark-green;
  border-radius: 6px;
  &:focus{
    border-color: @success-color;
  }
}

.ant-select{
  &:not(.ant-select-customize-input){
    .ant-select-selector{
      height: 40px;
      line-height: 40px;
      background-color: @select-bg-secondary;
      color: @text-white;
      border: 1px solid @border-dark-green;
      border-radius: 6px;
      input{
        height: 40px !important;
        line-height: 100%;
      }
      .ant-select-selection-item{
        line-height: 38px;
        color: @text-white;
      }
      .ant-select-selection-placeholder{
        line-height: 38px;
        color: @text-white;
      }
    }
    &:hover, &:focus{
      .ant-select-selector{
        border-color: @success-color !important;
        box-shadow: none !important;
      }
    }
    .ant-select-arrow{
      .icon{
        width: 10px;
        fill: @text-white;
      }
    }
  }
}

.ant-select-dropdown {
	&.capx-dropdown {
		background: @card-bg;
		padding: 3px;
		border: 1px solid @border-dark-green;
		border-radius: 0 0 16px 16px;
		.ant-select-item {
			font-weight: normal;
			color: @text-white;
			border-radius: 4px;
			&.ant-select-item-option-active,
			.ant-select-item-option-selected {
				background: #1d282f;
			}
		}
	}
}

.main-content {
	.ant-layout-sider {
		background: @sidebar-bg;
	}
	.right-content-wrapper {
		min-height: calc(100vh - 60px);
		background: none;
		padding: 15px 45px 0 45px;
	}
}

.ant-layout {
	background: none;
	.ant-layout-footer {
		&.main-footer {
			position: sticky;
			color: #f1faf2;
			opacity: 0.5;
			background-color: @secondary-color;
			border-top: 2px solid #4d4d4d;
			text-align: center;
			padding: 5px;
		}
	}
}

.capx-card {
	background: @card-gradient;
	border: 1px solid @border-color-base;
	padding: 25px;
	border-radius: 1rem;
	margin-bottom: 15px;
}

.capx-card-secondary {
	background: @card-bg;
	border: 1px solid @border-card;
	padding: 15px 25px;
	border-radius: 1rem;
	margin-bottom: 15px;
}

.ant-checkbox-wrapper{
  color: @text-white;
  .ant-checkbox{
    top: 0.32em;
    .ant-checkbox-inner{
      border-color: @border-dark-green;
      width: 20px;
      height: 20px;
      &::after{
        top: 52%;
        left: 24.5%;
      }
    }
    &.ant-checkbox-checked{
      .ant-checkbox-inner{
        background-color: @white;
        &::after{
          border-color: @border-dark-green;
        }
      }
    }
  }
}

.ant-slider-tooltip{
	padding-bottom: 0;
	.ant-tooltip-content{
		.ant-tooltip-inner{
			background-color: @success-color;
			color: @secondary-color;
			font-size: 14px;
			font-weight: 600;
			padding: 0 8px;
			height: 20px;
			line-height: 20px;
			min-height: 20px;
			border-radius: 1px;
		}
		.ant-tooltip-arrow-content{
			display: none;
		}
	}
}